OPENAI_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxx"
OPENAI_MODEL=gpt-5.4-nano
OPENAI_TEMPERATURE=0.0
LANGFUSE_SECRET_KEY="xxxxxxxxxxxxxxxxxxxxxxxx"
LANGFUSE_PUBLIC_KEY="xxxxxxxxxxxxxxxxxxxxxxxx"
LANGFUSE_BASE_URL="https://us.cloud.langfuse.com"